<div class="card employee-card" style= "width: 19rem; height: 350px; background-color: #E0E0E0; margin: 20px;">
    <div class="card-header">
        <h3 class="card-title text-center">{{ name }}</h3>
        <h4 class="card-title text-center"><i class="fas fa-glasses mr-2"></i>{{ role }}</h4>
    </div>
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item"><i class="fas fa-id-badge"></i>ID: {{ id }}</li>
            <li class="list-group-item"><i class="fas fa-envelope-open-text"></i>Email: <a href="mailto:{{ email }}">{{ email }}</a></li>
            <li class="list-group-item"><i class="fab fa-github-square"></i>GitHub: <a href="https://github.com/{{ github }}" target="_blank" rel="noopener noreferrer">{{ github }}</a></li>
        </ul>
    </div>
</div>
